# Exploratory Data Analysis

In [46]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import numpy as np

In [47]:
train = pd.read_csv('train.csv', header=0)
test = pd.read_csv('test.csv', header=0)

In [48]:
train

,id,Product ID,Type,Air temperature [K],Process temperature [K],Rotational speed [rpm],Torque [Nm],Tool wear [min],Machine failure,TWF,HDF,PWF,OSF,RNF
0,0,L50096,L,300.6,309.6,1596,36.1,140,0,0,0,0,0,0
1,1,M20343,M,302.6,312.1,1759,29.1,200,0,0,0,0,0,0
2,2,L49454,L,299.3,308.5,1805,26.5,25,0,0,0,0,0,0
3,3,L53355,L,301.0,310.9,1524,44.3,197,0,0,0,0,0,0
4,4,M24050,M,298.0,309.0,1641,35.4,34,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
136424,136424,M22284,M,300.1,311.4,1530,37.5,210,0,0,0,0,0,0
136425,136425,H38017,H,297.5,308.5,1447,49.1,2,0,0,0,0,0,0
136426,136426,L54690,L,300.5,311.8,1524,38.5,214,0,0,0,0,0,0
136427,136427,L53876,L,301.7,310.9,1447,46.3,42,0,0,0,0,0,0
136428,136428,L47937,L,296.9,308.1,1557,39.3,229,0,0,0,0,0,0

In [49]:
train = train.reindex(columns=['id', 'Product ID', 'Type', 'Air temperature [K]',
       'Process temperature [K]', 'Rotational speed [rpm]', 'Torque [Nm]',
       'Tool wear [min]', 'TWF', 'HDF', 'PWF', 'OSF',
       'RNF', 'Machine failure'])
test = test.reindex(columns=['id', 'Product ID', 'Type', 'Air temperature [K]',
       'Process temperature [K]', 'Rotational speed [rpm]', 'Torque [Nm]',
       'Tool wear [min]', 'TWF', 'HDF', 'PWF', 'OSF',
       'RNF', 'Machine failure'])

In [50]:
print(train.shape)
print(test.shape)

(136429, 14)
(90954, 14)

In [51]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 136429 entries, 0 to 136428
Data columns (total 14 columns):
 #   Column                   Non-Null Count   Dtype
---  ------                   --------------   -----
 0   id                       136429 non-null  int64
 1   Product ID               136429 non-null  object
 2   Type                     136429 non-null  object
 3   Air temperature [K]      136429 non-null  float64
 4   Process temperature [K]  136429 non-null  float64
 5   Rotational speed [rpm]   136429 non-null  int64
 6   Torque [Nm]              136429 non-null  float64
 7   Tool wear [min]          136429 non-null  int64
 8   TWF                      136429 non-null  int64
 9   HDF                      136429 non-null  int64
 10  PWF                      136429 non-null  int64
 11  OSF                      136429 non-null  int64
 12  RNF                      136429 non-null  int64
 13  Machine failure          136429 non-null  int64
dtypes: float64(3), int64(9), object(2)
memory usage: 14.6+ MB

In [52]:
train.describe()

,id,Air temperature [K],Process temperature [K],Rotational speed [rpm],Torque [Nm],Tool wear [min],TWF,HDF,PWF,OSF,RNF,Machine failure
count,136429.000000,136429.000000,136429.000000,136429.000000,136429.000000,136429.000000,136429.000000,136429.000000,136429.000000,136429.000000,136429.000000,136429.000000
mean,68214.000000,299.862776,309.941070,1520.331110,40.348643,104.408901,0.001554,0.005160,0.002397,0.003958,0.002258,0.015744
std,39383.804275,1.862247,1.385173,138.736632,8.502229,63.965040,0.039389,0.071649,0.048899,0.062789,0.047461,0.124486
min,0.000000,295.300000,305.800000,1181.000000,3.800000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,34107.000000,298.300000,308.700000,1432.000000,34.600000,48.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,68214.000000,300.000000,310.000000,1493.000000,40.400000,106.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
75%,102321.000000,301.200000,310.900000,1580.000000,46.100000,159.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
max,136428.000000,304.400000,313.800000,2886.000000,76.600000,253.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000

In [53]:
train

,id,Product ID,Type,Air temperature [K],Process temperature [K],Rotational speed [rpm],Torque [Nm],Tool wear [min],TWF,HDF,PWF,OSF,RNF,Machine failure
0,0,L50096,L,300.6,309.6,1596,36.1,140,0,0,0,0,0,0
1,1,M20343,M,302.6,312.1,1759,29.1,200,0,0,0,0,0,0
2,2,L49454,L,299.3,308.5,1805,26.5,25,0,0,0,0,0,0
3,3,L53355,L,301.0,310.9,1524,44.3,197,0,0,0,0,0,0
4,4,M24050,M,298.0,309.0,1641,35.4,34,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
136424,136424,M22284,M,300.1,311.4,1530,37.5,210,0,0,0,0,0,0
136425,136425,H38017,H,297.5,308.5,1447,49.1,2,0,0,0,0,0,0
136426,136426,L54690,L,300.5,311.8,1524,38.5,214,0,0,0,0,0,0
136427,136427,L53876,L,301.7,310.9,1447,46.3,42,0,0,0,0,0,0
136428,136428,L47937,L,296.9,308.1,1557,39.3,229,0,0,0,0,0,0

In [54]:
df = train.append(test)

In [29]:
df.shape

(227383, 14)

In [30]:
df.dtypes

id                         float64
Product ID                  object
Type                        object
Air temperature [K]        float64
Process temperature [K]    float64
Rotational speed [rpm]       int64
Torque [Nm]                float64
Tool wear [min]              int64
TWF                          int64
HDF                          int64
PWF                          int64
OSF                          int64
RNF                          int64
Machine failure            float64
dtype: object

In [31]:
print(df.isna().sum())

id                         227383
Product ID                      0
Type                            0
Air temperature [K]             0
Process temperature [K]         0
Rotational speed [rpm]          0
Torque [Nm]                     0
Tool wear [min]                 0
TWF                             0
HDF                             0
PWF                             0
OSF                             0
RNF                             0
Machine failure             90954
dtype: int64

In [32]:
df.describe()

,id,Air temperature [K],Process temperature [K],Rotational speed [rpm],Torque [Nm],Tool wear [min],TWF,HDF,PWF,OSF,RNF,Machine failure
count,0.0,227383.000000,227383.000000,227383.000000,227383.000000,227383.000000,227383.000000,227383.000000,227383.000000,227383.000000,227383.000000,136429.000000
mean,NaN,299.861463,309.940392,1520.409938,40.343262,104.362925,0.001522,0.005233,0.002379,0.003923,0.002278,0.015744
std,NaN,1.860371,1.385219,139.231189,8.503195,63.927361,0.038979,0.072153,0.048720,0.062510,0.047675,0.124486
min,NaN,295.300000,305.700000,1168.000000,3.800000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,NaN,298.300000,308.700000,1432.000000,34.600000,48.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,NaN,300.000000,310.000000,1493.000000,40.500000,106.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
75%,NaN,301.200000,310.900000,1579.000000,46.100000,159.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
max,NaN,304.400000,313.800000,2886.000000,76.600000,253.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000

In [33]:
df.columns

Index(['id', 'Product ID', 'Type', 'Air temperature [K]',
       'Process temperature [K]', 'Rotational speed [rpm]', 'Torque [Nm]',
       'Tool wear [min]', 'TWF', 'HDF', 'PWF', 'OSF', 'RNF',
       'Machine failure'],
      dtype='object')

In [34]:
for i in df.columns:
    name = i
    vals = df[i].value_counts()
    print('-------------------------------------------------')
    print(name)
    print(vals)
    print('-------------------------------------------------')

-------------------------------------------------
id
Series([], Name: id, dtype: int64)
-------------------------------------------------
-------------------------------------------------
Product ID
L53257    224
L53271    214
L48892    211
L49056    204
L56257    203
         ...
L52439      1
M23435      1
L48059      1
L47541      1
L49045      1
Name: Product ID, Length: 9995, dtype: int64
-------------------------------------------------
-------------------------------------------------
Type
L    158792
M     53687
H     14904
Name: Type, dtype: int64
-------------------------------------------------
-------------------------------------------------
Air temperature [K]
300.700    8317
297.400    6637
300.500    6316
300.600    5924
298.200    5721
           ...
295.400      15
295.300      12
303.960       1
297.095       1
300.980       1
Name: Air temperature [K], Length: 95, dtype: int64
-------------------------------------------------
-------------------------------------------------
Process temperature [K]
310.60    8581
310.80    7793
310.70    7343
308.50    6998
308.60    6950
          ...
305.80      16
313.80      11
305.70       8
308.15       1
307.28       1
Name: Process temperature [K], Length: 84, dtype: int64
-------------------------------------------------
-------------------------------------------------
Rotational speed [rpm]
1452    1874
1435    1582
1447    1525
1418    1475
1429    1454
        ...
2038       1
2163       1
1168       1
1199       1
2584       1
Name: Rotational speed [rpm], Length: 974, dtype: int64
-------------------------------------------------
-------------------------------------------------
Torque [Nm]
37.7    1656
40.2    1509
43.2    1505
42.4    1444
43.9    1432
        ...
67.4       1
65.0       1
67.1       1
4.0        1
9.9        1
Name: Torque [Nm], Length: 628, dtype: int64
-------------------------------------------------
-------------------------------------------------
Tool wear [min]
0      6238
2      2931
5      2416
119    2351
59     2333
       ...
237       9
236       8
239       7
251       5
253       5
Name: Tool wear [min], Length: 246, dtype: int64
-------------------------------------------------
-------------------------------------------------
TWF
0    227037
1       346
Name: TWF, dtype: int64
-------------------------------------------------
-------------------------------------------------
HDF
0    226193
1      1190
Name: HDF, dtype: int64
-------------------------------------------------
-------------------------------------------------
PWF
0    226842
1       541
Name: PWF, dtype: int64
-------------------------------------------------
-------------------------------------------------
OSF
0    226491
1       892
Name: OSF, dtype: int64
-------------------------------------------------
-------------------------------------------------
RNF
0    226865
1       518
Name: RNF, dtype: int64
-------------------------------------------------
-------------------------------------------------
Machine failure
0.0    134281
1.0      2148
Name: Machine failure, dtype: int64
-------------------------------------------------

In [55]:
target = 'Machine failure'
cat_features = ['Type', 'TWF', 'HDF',
                   'PWF', 'OSF','RNF', 'Tool wear [min]']
num_features = df[['Product ID', 'Air temperature [K]', 'Process temperature [K]', 
                         'Rotational speed [rpm]', 'Torque [Nm]']]

In [ ]:
df = pd.get_dummies(df, columns = cat_features)
cat_features = df[['Type', 'TWF', 'HDF',
                   'PWF', 'OSF','RNF', 'Tool wear [min]']]

In [18]:
df

,id,Product ID,Air temperature [K],Process temperature [K],Rotational speed [rpm],Torque [Nm],Machine failure,Type_H,Type_L,Type_M,...,Tool wear [min]_237,Tool wear [min]_238,Tool wear [min]_239,Tool wear [min]_240,Tool wear [min]_241,Tool wear [min]_242,Tool wear [min]_244,Tool wear [min]_246,Tool wear [min]_251,Tool wear [min]_253
0,NaN,L50096,300.6,309.6,1596,36.1,0.0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
1,NaN,M20343,302.6,312.1,1759,29.1,0.0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
2,NaN,L49454,299.3,308.5,1805,26.5,0.0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
3,NaN,L53355,301.0,310.9,1524,44.3,0.0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
4,NaN,M24050,298.0,309.0,1641,35.4,0.0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
90949,NaN,L51130,302.3,311.4,1484,40.4,NaN,0,1,0,...,0,0,0,0,0,0,0,0,0,0
90950,NaN,L47783,297.9,309.8,1542,33.8,NaN,0,1,0,...,0,0,0,0,0,0,0,0,0,0
90951,NaN,L48097,295.6,306.2,1501,41.4,NaN,0,1,0,...,0,0,0,0,0,0,0,0,0,0
90952,NaN,L48969,298.1,307.8,1534,40.3,NaN,0,1,0,...,0,0,0,0,0,0,0,0,0,0
90953,NaN,L52525,303.5,312.8,1534,36.1,NaN,0,1,0,...,0,0,0,0,0,0,0,0,0,0

In [19]:
failure_counts = df['Machine failure'].value_counts()

# Print the counts
print("Occurrences of Machine Failure:")
print("Value 0:", failure_counts[0])
print("Value 1:", failure_counts[1])

Occurrences of Machine Failure:
Value 0: 134281
Value 1: 2148

In [56]:
for col_name in num_features.columns:
    sns.histplot(num_features[col_name])
    plt.title(f'{col_name} histogram')
    plt.show()

KeyboardInterrupt:

In [ ]:
for col_name in cat_features.columns:
    sns.histplot(cat_features[col_name])
    plt.title(f'{col_name} histogram')
    plt.show()