# Exploratory Data Analysis

In [1]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import numpy as np

In [3]:
train = pd.read_csv('../data/train.csv', header=0)
test = pd.read_csv('../data/test.csv', header=0)

In [4]:
train

,Air temperature,Process temperature,Rotational speed,Torque,Machine failure,Type_H,Type_L,Type_M,TWF_0,TWF_1,...,Tool wear _237,Tool wear _238,Tool wear _239,Tool wear _240,Tool wear _241,Tool wear _242,Tool wear _244,Tool wear _246,Tool wear _251,Tool wear _253
0,300.6,309.6,1596,36.1,0,0,1,0,1,0,...,0,0,0,0,0,0,0,0,0,0
1,302.6,312.1,1759,29.1,0,0,0,1,1,0,...,0,0,0,0,0,0,0,0,0,0
2,299.3,308.5,1805,26.5,0,0,1,0,1,0,...,0,0,0,0,0,0,0,0,0,0
3,301.0,310.9,1524,44.3,0,0,1,0,1,0,...,0,0,0,0,0,0,0,0,0,0
4,298.0,309.0,1641,35.4,0,0,0,1,1,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
136424,300.1,311.4,1530,37.5,0,0,0,1,1,0,...,0,0,0,0,0,0,0,0,0,0
136425,297.5,308.5,1447,49.1,0,1,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
136426,300.5,311.8,1524,38.5,0,0,1,0,1,0,...,0,0,0,0,0,0,0,0,0,0
136427,301.7,310.9,1447,46.3,0,0,1,0,1,0,...,0,0,0,0,0,0,0,0,0,0
136428,296.9,308.1,1557,39.3,0,0,1,0,1,0,...,0,0,0,0,0,0,0,0,0,0

In [5]:
train = train.reindex(columns=['id', 'Product ID', 'Type', 'Air temperature [K]',
       'Process temperature [K]', 'Rotational speed [rpm]', 'Torque [Nm]',
       'Tool wear [min]', 'TWF', 'HDF', 'PWF', 'OSF',
       'RNF', 'Machine failure'])
test = test.reindex(columns=['id', 'Product ID', 'Type', 'Air temperature [K]',
       'Process temperature [K]', 'Rotational speed [rpm]', 'Torque [Nm]',
       'Tool wear [min]', 'TWF', 'HDF', 'PWF', 'OSF',
       'RNF', 'Machine failure'])

In [6]:
print(train.shape)
print(test.shape)

(136429, 14)
(90954, 14)

In [7]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 136429 entries, 0 to 136428
Data columns (total 14 columns):
 #   Column                   Non-Null Count   Dtype
---  ------                   --------------   -----
 0   id                       0 non-null       float64
 1   Product ID               0 non-null       float64
 2   Type                     0 non-null       float64
 3   Air temperature [K]      0 non-null       float64
 4   Process temperature [K]  0 non-null       float64
 5   Rotational speed [rpm]   0 non-null       float64
 6   Torque [Nm]              0 non-null       float64
 7   Tool wear [min]          0 non-null       float64
 8   TWF                      0 non-null       float64
 9   HDF                      0 non-null       float64
 10  PWF                      0 non-null       float64
 11  OSF                      0 non-null       float64
 12  RNF                      0 non-null       float64
 13  Machine failure          136429 non-null  int64
dtypes: float64(13), int64(1)
memory usage: 14.6 MB

In [8]:
train.describe()

,id,Product ID,Type,Air temperature [K],Process temperature [K],Rotational speed [rpm],Torque [Nm],Tool wear [min],TWF,HDF,PWF,OSF,RNF,Machine failure
count,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,136429.000000
mean,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.015744
std,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.124486
min,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.000000
25%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.000000
50%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.000000
75%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.000000
max,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.000000

In [9]:
train

,id,Product ID,Type,Air temperature [K],Process temperature [K],Rotational speed [rpm],Torque [Nm],Tool wear [min],TWF,HDF,PWF,OSF,RNF,Machine failure
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
136424,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
136425,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
136426,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
136427,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
136428,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0

In [10]:
df = train.append(test)

In [11]:
df.shape

(227383, 14)

In [12]:
df.dtypes

id                         float64
Product ID                 float64
Type                       float64
Air temperature [K]        float64
Process temperature [K]    float64
Rotational speed [rpm]     float64
Torque [Nm]                float64
Tool wear [min]            float64
TWF                        float64
HDF                        float64
PWF                        float64
OSF                        float64
RNF                        float64
Machine failure            float64
dtype: object

In [13]:
print(df.isna().sum())

id                         227383
Product ID                 227383
Type                       227383
Air temperature [K]        227383
Process temperature [K]    227383
Rotational speed [rpm]     227383
Torque [Nm]                227383
Tool wear [min]            227383
TWF                        227383
HDF                        227383
PWF                        227383
OSF                        227383
RNF                        227383
Machine failure             90954
dtype: int64

In [14]:
df.describe()

,id,Product ID,Type,Air temperature [K],Process temperature [K],Rotational speed [rpm],Torque [Nm],Tool wear [min],TWF,HDF,PWF,OSF,RNF,Machine failure
count,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,136429.000000
mean,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.015744
std,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.124486
min,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.000000
25%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.000000
50%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.000000
75%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.000000
max,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.000000

In [15]:
df.columns

Index(['id', 'Product ID', 'Type', 'Air temperature [K]',
       'Process temperature [K]', 'Rotational speed [rpm]', 'Torque [Nm]',
       'Tool wear [min]', 'TWF', 'HDF', 'PWF', 'OSF', 'RNF',
       'Machine failure'],
      dtype='object')

In [16]:
for i in df.columns:
    name = i
    vals = df[i].value_counts()
    print('-------------------------------------------------')
    print(name)
    print(vals)
    print('-------------------------------------------------')

-------------------------------------------------
id
Series([], Name: id, dtype: int64)
-------------------------------------------------
-------------------------------------------------
Product ID
Series([], Name: Product ID, dtype: int64)
-------------------------------------------------
-------------------------------------------------
Type
Series([], Name: Type, dtype: int64)
-------------------------------------------------
-------------------------------------------------
Air temperature [K]
Series([], Name: Air temperature [K], dtype: int64)
-------------------------------------------------
-------------------------------------------------
Process temperature [K]
Series([], Name: Process temperature [K], dtype: int64)
-------------------------------------------------
-------------------------------------------------
Rotational speed [rpm]
Series([], Name: Rotational speed [rpm], dtype: int64)
-------------------------------------------------
-------------------------------------------------
Torque [Nm]
Series([], Name: Torque [Nm], dtype: int64)
-------------------------------------------------
-------------------------------------------------
Tool wear [min]
Series([], Name: Tool wear [min], dtype: int64)
-------------------------------------------------
-------------------------------------------------
TWF
Series([], Name: TWF, dtype: int64)
-------------------------------------------------
-------------------------------------------------
HDF
Series([], Name: HDF, dtype: int64)
-------------------------------------------------
-------------------------------------------------
PWF
Series([], Name: PWF, dtype: int64)
-------------------------------------------------
-------------------------------------------------
OSF
Series([], Name: OSF, dtype: int64)
-------------------------------------------------
-------------------------------------------------
RNF
Series([], Name: RNF, dtype: int64)
-------------------------------------------------
-------------------------------------------------
Machine failure
0.0    134281
1.0      2148
Name: Machine failure, dtype: int64
-------------------------------------------------

In [17]:
target = 'Machine failure'
cats = ['Type', 'TWF', 'HDF',
                   'PWF', 'OSF','RNF', 'Tool wear [min]']
cat_features = df[['Type', 'TWF', 'HDF',
                   'PWF', 'OSF','RNF', 'Tool wear [min]']]
num_features = df[['Product ID', 'Air temperature [K]', 'Process temperature [K]', 
                         'Rotational speed [rpm]', 'Torque [Nm]']]

In [18]:
df = pd.get_dummies(df, columns = cats)

KeyError: "None of [Index(['Type', 'TWF', 'HDF', 'PWF', 'OSF', 'RNF', 'Tool wear [min]'], dtype='object')] are in the [columns]"

In [ ]:
df

In [ ]:
failure_counts = df['Machine failure'].value_counts()

# Print the counts
print("Occurrences of Machine Failure:")
print("Value 0:", failure_counts[0])
print("Value 1:", failure_counts[1])

In [ ]:
for col_name in num_features.columns:
    sns.histplot(num_features[col_name])
    plt.title(f'{col_name} histogram')
    plt.show()

In [ ]:
for col_name in cat_features.columns:
    sns.histplot(cat_features[col_name])
    plt.title(f'{col_name} histogram')
    plt.show()